<div class="topnav">
    <a class="navbar-brand" href="/">Realbnb</a>
    <div class="search-container">
        <form action="/">
            <input type="text" placeholder="Search listings...." name="search">
            <button class="btn btn-success">Login</button>
            
        </form>
        
    </div>
</div>